<!DOCUMENT html>
<html>
    <head>
        <title>{{ title | default("Welcome") }}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/vendor/bootstrap/css/bootstrap.css">
    </head>

    <body>

        <nav class="navbar navbar-default">
            <div class="container">
                <div class="nav-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <div class="collapse navbar-collapse" id="navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Home</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <main class="container">
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    {% block body %}<h1 class="text-center">Welcome</h1>{% endblock %}
                </div>
            </div>
        </main>


        <script src="/static/vendor/jquery-1.12.2.js"></script>
        <script src="/static/vendor/bootstrap/js/bootstrap.js"></script>
    </body>
</html>
